[importlinter]
root_packages =
    src

[importlinter:contract:layered-architecture]
name = Layered architecture: api → services → repositories
type = layers
layers =
    src.api
    src.services
    src.repositories
ignore_imports =
    src.bad -> src.repositories
